@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: rgb(230, 240, 255) !important;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #464b50;
}

.ellipsis {
  white-space: nowrap;          
  overflow: hidden;             
  text-overflow: ellipsis;      
  width: 20ch;                  
  display: inline-block;        
}